.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-color: blue;
  /* existing styles */
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuakeList {
  float: left;
  width: 25%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 10px);
  margin-top: 5vh;
  border-radius: 10px;
}

.QuakeView {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
